<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web components loader</title>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.polyfills.entry %>"></script>
    <link rel="import" href="./components/angular-app.html">
    <link rel="import" href="./components/react-app.html">
    <style>
        .row {
            display: flex;
            flex-direction: row;
        }
        .row > * {
            flex: 1;
        }
    </style>
</head>
<body>
    <div id="app"></div>

    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>