<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web components loader</title>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.polyfills.entry %>"></script>
    <link rel="import" href="./components/angular-app.html">
</head>
<body>
    <div id="app"></div>

    <!--<script src="../node_modules/webcomponents-lite/webcomponents-lite.js"></script>-->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>